_build/
_cache/
deps/_cache/
deps/build/macos_arm64/_build/
deps/build/macos_arm64/_install/
deps/build/macos_arm64/_source/
deps/build/raspberry-pi-os_armv7/_build/
deps/build/raspberry-pi-os_armv7/_install/
deps/build/raspberry-pi-os_armv7/_source/
deps/build/raspberry-pi-os_armv8/script/
lib/

example/certificates/out/
etc/
out/

.DS_Store